@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DMSans-VariableFont_opsz\,wght.ttf') format('ttf');
  font-weight: 100 900;
  font-style: normal;
}
$base-font:  'DM Sans', sans-serif;

@mixin heading($size: 2.25rem, $weight: 700, $line-height: 0%) {
  font-family: $base-font;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
}
@mixin body($size:1.25rem, $weight: 400, $line-height:0%) {
  font-family: $base-font;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
}