@use "../variables/Colors" as c;
@use "../mixins/Font-mixin" as f;

%btnBase {
    @include f.body($weight: 700);
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    margin-bottom: .7rem;
    border: none;
    text-decoration: none;
    :any-link {
        text-decoration: none;
    }

}

%blueBtn {
    @extend %btnBase;
    box-shadow: 0 16px 60px 0 c.$b-shadow;
    background: c.$blue;
    color: c.$bg;
}

%whiteBtn {
    @extend %btnBase;
    box-shadow: 0 16px 60px 0 c.$w-shadow;
    background: c.$bg;
    color: c.$blue;
}