@use "./components/buttons/ButtonLink";
@use "./components/error/ErrorBoundary";
@use "./components/footer/Footer";
@use "./components/header/Header";
@use "./components/loading/Loading";
@use "./components/navigation/Navigation";
@use "./style/variables/Colors" as c;
@use "./style/placeholders/Base";

@font-face {
    font-family: 'MyCustomFont';
    src: url('../fonts/MyFont.woff2') format('woff2'); /* justér stien hvis nødvendigt */
    font-weight: normal;
    font-style: normal;
}
:root {
  @extend %base;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 20rem;
  min-height: 100vh;
}

#root {
max-width: 80rem;
margin: 0 auto;
padding: 2rem;
text-align: center;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
