@use "./components/buttons/ButtonLink";
@use "./components/error/ErrorBoundary";
@use "./components/footer/Footer";
@use "./components/header/Header";
@use "./components/loading/Loading";
@use "./components/navigation/Navigation";
@use "./style/variables/Colors" as c;
@use "./style/placeholders/Base";
@use "./style/mixins/Font-mixin" as f;

:root {
  @extend %base;
  @include f.body();
}

body {
  margin: 0;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
}

#root {
  max-width: 80vh;
  margin: 0 auto;
  text-align: center;
}

main {
  padding-top: 2rem;
}

.title {
  color: c.$blue;
  @include f.heading($size: 3.875rem, $line-height: 100%);
}

h1 {
  color: c.$blue;
  @include f.heading();
}

p {
  color: c.$fonts;
}

input {
  color: c.$form-fonts;
}